---
- name: Install Amazon Corretto 11 repository
  ansible.builtin.get_url:
    url: https://corretto.aws/downloads/latest/amazon-corretto-11-x64-linux-jdk.rpm
    dest: /tmp/corretto11.rpm
    mode: "0644"
  register: corretto_download

- name: Install Amazon Corretto 11
  ansible.builtin.dnf:
    name: /tmp/corretto11.rpm
    state: present

- name: Ensure default java alternative is corretto
  community.general.alternatives:
    name: java
    path: /usr/lib/jvm/java-11-amazon-corretto/bin/java
  when: corretto_download is changed
