[Unit]
Description=Jira Service
After=network.target postgresql-15.service

[Service]
Type=forking
User=jira
Group=jira
Environment="JAVA_HOME={{ jira_java_home }}"
ExecStart=/opt/atlassian/jira/bin/start-jira.sh
ExecStop=/opt/atlassian/jira/bin/stop-jira.sh
PIDFile=/opt/atlassian/jira/work/catalina.pid
Restart=on-failure
TimeoutSec=300

[Install]
WantedBy=multi-user.target
